.spinnerActive {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: whitesmoke;
  opacity: 0.6;
  z-index: 10000;
}

.spinner {
  position: fixed;
  top: 30%;
  left: 47%;
  z-index: 15000;
  text-align: center;
}
