<div *ngIf="loading">
  <app-loader></app-loader>
</div>

<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading"><h4>{{ title }}</h4></div>
    <div class="panel-body">
      <div class="container-fluid">
        <!-- Button trigger modal -->
        <button class="btn btn-primary" data-toggle="modal"
                data-target="#myModalHorizontal" (click)="doOpenFormAdd()">
          <i class="fa fa-plus"></i> Add RSC
        </button>
        <form class="form-inline pull-right">
          <div class="form-group">
            <div class="col-sm-12">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search..." [(ngModel)]="filterText" [ngModelOptions]="{standalone: true}">
                <div class="input-group-addon"><i class="fa fa-search"></i></div>
              </div>
            </div>
          </div>
        </form>
        <div class="table-responsive" style="width: 100%;">
          <div *ngIf="listRSC | filter: filterText as list">
            <table class="table table-bordered">
              <thead>
              <tr>
                <th class="text-center" width="2%">No</th>
                <th class="text-center" width="5%">Department Code</th>
                <th class="text-center" width="15%">Department Name</th>
                <!--<th class="text-center" width="10%">Action</th>-->
              </tr>
              </thead>
              <tbody *ngIf="!listRSC || listRSC.length===0 || list.length===0">
              <tr>
                <td colspan="3">No Data Found</td>
              </tr>
              </tbody>
              <tbody>
              <tr *ngFor="let rsc of list;let i =index; ">
                <td>{{(i+1)}}</td>
                <td>{{ rsc.rscCode }}</td>
                <td>{{ rsc.rscName }}</td>
                <!--<td>-->
                  <!--<button class="btn btn-success btn-sm" data-toggle="modal" data-target="#myModalHorizontal" (click)="doOpenFormEdit(rsc)">-->
                    <!--<i class="fa fa-pencil"></i> Edit-->
                  <!--</button>-->
                  <!--&lt;!&ndash;<button class="btn btn-danger" data-toggle="modal" data-target="#confirmModalHorizontal" (click)="doDeleteConfirmation(destination.destinationId)">&ndash;&gt;-->
                  <!--&lt;!&ndash;Delete&ndash;&gt;-->
                  <!--&lt;!&ndash;</button>&ensp;&ndash;&gt;-->
                <!--</td>-->
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!--<pagination *ngIf="listDept.length !== 0"  [totalItems]="totalItems" [maxSize]="5" [rotate]="true" [boundaryLinks]="true"-->
        <!--[(ngModel)]="currentPage" (numPages)="numPages = $event" (pageChanged)="pageChanged($event)">-->
        <!--</pagination>-->
      </div>
    </div>
  </div>
</div>
<!-- Modal Form-->
<div *ngIf="doOpenForm" class="modal fade" id="myModalHorizontal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close"
                data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">
          {{titleModal}}
        </h4>
      </div>
      <div class="modal-body">
        <div class="col s3 pull-right">
          <small>*</small>) <span style="font-size: 11px;">Required field</span>
        </div><br>
        <form [formGroup]="rscFormBuilder">
          <div class="form-group row" >
            <label for="rsc-code" class="col-sm-3">RSC Code <small>*</small></label>
            <div class="col-sm-7">
              <input type="text" maxlength="5" class="form-control" placeholder="Enter RSC Code..." id="rsc-code" formControlName="rscCode" [readonly]="titleModal=='Edit RSC'">
            </div>
          </div>
          <div class="form-group row">
            <label for="rsc-name" class="col-sm-3">RSC Name <small>*</small></label>
            <div class="col-sm-7">
              <input type="text" maxlength="100" placeholder="Enter RSC Name..." class="form-control" id="rsc-name" formControlName="rscName">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" [disabled]="rscFormBuilder.invalid"
                title="{{rscFormBuilder.invalid ? 'Please fill in the required field!' : ''}}" (click)="doSubmit()">
          <i class="fa fa-save"></i> Submit
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Form-->
<div *ngIf="doOpenConfirmation" class="modal fade" id="confirmModalHorizontal" tabindex="-1" role="dialog"
     aria-labelledby="confirmModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close"
                data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title" id="confirmModalLabel">
          Confirmation
        </h4>
      </div>

      <div class="modal-body">
        <p>Are you sure want to delete this data?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          Cancel
        </button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="doDelete()">
          OK
        </button>
      </div>
    </div>
  </div>
</div>
