<div *ngIf="loading">
  <app-loader></app-loader>
</div>

<div class="containerLogin">
  <div class="col-md-4"></div>
  <div class="col-md-4" >
    <div id="panel-style" class="login-panel panel panel-default">
      <div class="panel-heading" >
        <h4 class="panel-title" style="font-size: 20px ;font-family:Tahoma;font-weight: bold; text-align: center">TRAVEL DESK</h4>
      </div>
      <div class="panel-body"  >
        <section class="login-form">
          <form id="form-login" role="login" method="post">
            <img src="assets/images/logo.png" class="img-responsive" alt="" style="width: 100px; margin: 0px auto auto;"/><br>
            <p style="text-align:center;" class="text-danger" *ngIf="isErrorFound">{{ errorMessage }}</p>
            <div class="input-group">
              <span class="input-group-addon"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span></span>
              <input type="text" class="form-control input-lg"  name="date" id="login-date" value="{{today | date}}" required="true" disabled="true" />
            </div>
            <div class="input-group">
              <span class="input-group-addon"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></span>
              <input type="text" #userNameInput (keyup.enter)="doSetFocusUserPasswd()" name="userCode" placeholder="Username"  required="true" class="form-control input-lg" [(ngModel)]="un" />
            </div>
            <div class="input-group">
              <span class="input-group-addon"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></span>
              <input type="password" #userPasswordInput (keyup.enter)="doLogin()" class="form-control input-lg" name="password" required="true" id="password" placeholder="Password" [(ngModel)]="pw"  />
            </div><br>
            <div class="pwstrength_viewport_progress"></div>
            <button id="submitxx" name="go" (click)="doLogin()" class="btn btn-lg btn-primary btn-block">LOGIN</button>

          </form>
        </section>
      </div>
    </div>
    <div class="row">
      <div class="col s12" style="text-align: center;font-size: 10px">
        <span>IT Department PT.Fast Food Indonesia, Tbk. ver.{{version}}@{{today | date: 'yyyy'}}</span>
      </div>
    </div>
  </div>
</div>
