<div *ngIf="loading">
  <app-loader></app-loader>
</div>

<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading"><h4>{{ title }}</h4></div>
    <div class="panel-body">
      <div class="container-fluid">
        <button class="btn btn-primary" data-toggle="modal"
                data-target="#myModalHorizontal" (click)="doOpenFormAddTrip()">
          <i class="fa fa-plus"></i> Add Trip
        </button>
        <button class="btn btn-success" style="margin-left: 5px;" data-toggle="modal"
                data-target="#modalImport" (click)="doOpenFormImport()">
          <i class="fa fa-upload"></i> Import
        </button><br><br>
        <div class="panel-group">
          <div class="panel panel-default">
            <div class="panel-body">
              <form class="form-horizontal">
                <div class="form-group row">
                  <br>
                  <div class="col-sm-12">
                    <div class="col-sm-2">
                      <label class="col-form-label">From</label>
                      <input type="text" id="fromDate" class="form-control" aria-describedby="fromDate"
                             #dp="bsDatepicker" [bsConfig]="dpConfig" bsDatepicker [(bsValue)]="fromDate" value="{{ fromDate | date:'dd MMM yyyy' }}">
                    </div>
                    <div class="col-sm-2">
                      <label class="col-form-label">To</label>
                      <input type="text" id="toDate" class="form-control" aria-describedby="toDate" placeholder="To Date"
                             #dp="bsDatepicker" [bsConfig]="dpConfig" bsDatepicker [(bsValue)]="toDate" value="{{ toDate | date:'dd MMM yyyy' }}">
                    </div>
                    <div class="col-sm-3">
                      <label class="col-form-label">RSC</label>
                      <ngx-select-dropdown id="rsc" [multiple]="false" [config]="configFilterRSC" [(value)]="selectedFilterRSC" [options]="listRSC"></ngx-select-dropdown>
                    </div>
                    <div class="col-sm-3">
                      <label class="col-form-label">Department</label>
                      <ngx-select-dropdown id="dept" [multiple]="false" [config]="configFilterDepartment" [(value)]="selectedFilterDepartment" [options]="listDepartment"></ngx-select-dropdown>
                    </div>
                    <div class="col-sm-2" style="margin-top: 2%;">
                      <button class="btn btn-primary btn-sm" (click)="getFilterResult()">
                        <i class="fa fa-search"></i> Search
                      </button>
                      <a href="{{urlExport}}" target="_blank"><button type="button" style="margin-left: 5px;" class="btn btn-success btn-sm" (click)="doExport()" [disabled]="listTrip.length==0">
                        <i class="fa fa-upload"></i> Export
                      </button></a>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="table-responsive" style="width: 100%;">
          <table class="table table-bordered">
            <thead>
            <tr>
              <th class="text-center" width="1%">No</th>
              <th class="text-center" width="5%">RSC</th>
              <th class="text-center" width="5%">Name</th>
              <th class="text-center" width="7%">Department</th>
              <th class="text-center" width="5%">Actual</th>
              <th class="text-center" width="9%">Rute</th>
              <th class="text-center" width="4%">Nominal</th>
              <th class="text-center" width="4%">Revision</th>
              <th class="text-center" width="9%">Period</th>
              <th class="text-center" width="2%">Year</th>
              <th class="text-center" width="10%">Note</th>
              <th class="text-center" width="6%">Acc. Date</th>
              <th class="text-center" width="7%">Action</th>
            </tr>
            </thead>
            <tbody *ngIf="!listTrip || (listTrip && listTrip.length===0)">
            <tr>
              <td colspan="13">No Data Found</td>
            </tr>
            </tbody>
            <tbody>
            <tr *ngFor="let trip of listTrip;let i =index; ">
              <td>{{((currentPage-1)*itemsPerPage)+(i+1)}}</td>
              <td>{{ trip.rscNameRute }}</td>
              <td>{{ trip.nama }}</td>
              <td>{{ trip.departmentName }}</td>
              <td>{{ trip.actual }}</td>
              <td>{{ trip.rute }}</td>
              <td class="text-right">{{ trip.nominal | number: '0.0' }}</td>
              <td class="text-right">{{ trip.revisi | number: '0.0' }}</td>
              <td>{{ trip.periode }}</td>
              <td>{{ trip.tahun }}</td>
              <td>{{ trip.keterangan }}</td>
              <td>{{ trip.accDate | date: 'dd MMM yyyy' }}</td>
              <td>
                <button class="btn btn-success btn-sm" data-toggle="modal" data-target="#myModalHorizontal" (click)="doOpenFormEditTrip(trip)">
                  <i class="fa fa-pencil"></i>
                </button>
                <button class="btn btn-danger btn-sm" style="margin-left: 3px;" data-toggle="modal" data-target="#doOpenConfirmation" (click)="doDeleteConfirmation(trip.id)">
                  <i class="fa fa-trash"></i>
                </button>&ensp;
              </td>
            </tr>
            <tr *ngIf="listTrip && listTrip.length!==0">
              <td colspan="6" class="text-center" style="font-weight: bold">Total</td>
              <td class="text-right" style="font-weight: bold">{{ totalNominal | number: '0.0' }}</td>
              <td class="text-right" style="font-weight: bold">{{ totalRevisi | number: '0.0' }}</td>
            </tr>
            </tbody>
          </table>
        </div>
        <pagination *ngIf="listTrip.length !== 0"  [totalItems]="totalItems" [maxSize]="5" [rotate]="true" [boundaryLinks]="true"
                    [(ngModel)]="currentPage" (numPages)="numPages = $event" [itemsPerPage]="itemsPerPage" (pageChanged)="pageChanged($event)">
        </pagination>
      </div>
    </div>
  </div>
</div>
<!-- Modal Form-->
<div *ngIf="doOpenForm" class="modal fade" id="myModalHorizontal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <button type="button" class="close"
                data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">
          {{titleModal}}
        </h4>
      </div>

      <!-- Modal Body -->
      <div class="modal-body">
        <div class="col s3 pull-right" style="margin-top: -10px;">
          <small>*</small>) <span style="font-size: 11px;">Required field</span>
        </div><br>
        <form [formGroup]="tripFormBuilder">
          <div class="form-group row">
            <label class="col-sm-3">RSC <small>*</small></label>
            <div class="col-sm-9">
              <ngx-select-dropdown (change)="setSelectedRSC($event)" [multiple]="false" [config]="configSelectRsc" [(value)]="selectedRSC" [options]="listRSC"></ngx-select-dropdown>
            </div>
          </div>
          <div class="form-group row" >
            <label class="col-sm-3">User <small>*</small></label>
            <div class="col-sm-9">
              <ngx-select-dropdown (change)="setSelectedUser()" [multiple]="false" [config]="configSelectUser" [(value)]="selectedUser" [options]="listUser"></ngx-select-dropdown>
            </div>
          </div>
          <div class="form-group row"  [ngClass]="{'has-error': (actual.errors?.required), 'has-success': (!actual.errors?.required)}">
            <label class="col-sm-3">Actual <small>*</small></label>
            <div class="col-sm-9">
              <label class="radio-inline">
                <input type="radio" name="actual" id="actual" value="Actual" [checked]="selectedActual == 'Actual' ? true: null" formControlName="actual"> Actual
              </label>
              <label class="radio-inline">
                <input type="radio" name="actual" id="pd" value="PD" [checked]="selectedActual == 'PD' ? true: null" formControlName="actual"> PD
              </label>
              <label class="radio-inline">
                <input type="radio" name="actual" id="pdActual" value="PD + Actual" [checked]="selectedActual == 'PD + Actual' ? true: null" formControlName="actual"> PD + Actual
              </label>
            </div>
            <div class="col-sm-2" style="font-size: 11px;">
              <span *ngIf="actual.errors?.required && actual.touched" class="help-block">Kolom harus diisi</span>
            </div>
          </div>
          <div class="form-group row">
            <label for="rute" class="col-sm-3">Rute <small>*</small></label>
            <div class="col-sm-9">
              <input type="text" maxlength="50" class="form-control" id="rute" formControlName="rute">
            </div>
          </div>
          <div class="form-group row">
            <label for="nominal" class="col-sm-3">Nominal <small>*</small></label>
            <div class="col-sm-5">
              <input type="text" appOnlyNumber="{{tripFormBuilder.controls.nominal.value}}" maxlength="50" class="form-control" id="nominal" formControlName="nominal">
            </div>
            <label for="revisi" class="col-sm-1">Revisi </label>
            <div class="col-sm-3">
              <input type="text" appOnlyNumber="{{tripFormBuilder.controls.revisi.value}}" maxlength="50" class="form-control" id="revisi" formControlName="revisi">
            </div>
          </div>
          <div class="form-group row">
            <label for="periode" class="col-sm-3">Periode <small>*</small></label>
            <div class="col-sm-5">
              <input type="text" maxlength="50" class="form-control" id="periode" formControlName="periode">
            </div>
            <label for="tahun" class="col-sm-1">Tahun<small>*</small></label>
            <div class="col-sm-3">
              <input type="text" maxlength="50" class="form-control" id="tahun" formControlName="tahun">
            </div>
          </div>
          <div class="form-group row">
            <label for="keterangan" class="col-sm-3">Keterangan <small>*</small></label>
            <div class="col-sm-9">
              <textarea rows="3" maxlength="50" class="form-control" id="keterangan" formControlName="keterangan"></textarea>
            </div>
          </div>
          <div class="form-group row">
            <label for="accDate" class="col-sm-3">To Acc <small>*</small></label>
            <div class="col-sm-9">
              <input type="text" id="accDate" class="form-control" formControlName="accDate" aria-describedby="accDate"
                     #dp="bsDatepicker" placement="top center" [bsConfig]="dpConfig" bsDatepicker [(bsValue)]="accDate" value="{{ accDate | date:'dd MMM yyyy' }}">
            </div>
          </div>
        </form>
      </div>
      <!-- Modal Footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" [disabled]="tripFormBuilder.invalid"
                title="{{tripFormBuilder.invalid ? 'Please fill in the required field!' : ''}}" (click)="doSubmit()">
          <i class="fa fa-save"></i> Submit
        </button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="doOpenModalImport" class="modal fade" id="modalImport" tabindex="-1" role="dialog"
     aria-labelledby="modalImportLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <button type="button" class="close"
                data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title" id="modalImportLabel">
          Import Travelling Data
        </h4>
      </div>

      <!-- Modal Body -->
      <div class="modal-body">
        <div class="form-group">
          <label for="outletBudgetFile">File Budget Input (.xls, .xlsx)</label>
          <input type="file" #fileUpload id="outletBudgetFile" (change)="selectFile($event)"
                 accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
        </div>        <div *ngIf="currentFileUpload" class="progress" style="margin-top: 10px;">
          <div class="progress-bar progress-bar-info progress-bar-striped"
               role="progressbar" attr.aria-valuenow="{{progress.percentage}}"
               aria-valuemin="0" aria-valuemax="100"
               [ngStyle]="{width:progress.percentage+'%'}">
            {{progress.percentage}}%
          </div>
        </div>
      </div>
      <!-- Modal Footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" [disabled]="!selectedFiles" (click)="upload()">
          <i class="fa fa-upload"></i> Upload
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Form-->
<div *ngIf="doOpenConfirmation" class="modal fade" id="doOpenConfirmation" tabindex="-1" role="dialog"
     aria-labelledby="confirmModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <button type="button" class="close"
                data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title" id="confirmModalLabel">
          Confirmation
        </h4>
      </div>

      <!-- Modal Body -->
      <div class="modal-body">
        <p>Are you sure want to delete this data?</p>
      </div>
      <!-- Modal Footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          Cancel
        </button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="doDeleteTrip()">
          OK
        </button>
      </div>
    </div>
  </div>
</div>
