<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <img class="navbar-brand logo" src="assets/images/logo.png" style="padding: 0px !important; margin-left: 5px; margin-right: 10px;">
      <a class="navbar-brand" href="#" style="color: black; font-weight: bold; font-size: 32px;">TRAVEL DESK</a>
    </div>
    <ul class="nav navbar-nav">
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/home']"><i class="fa fa-home"></i> Home</a></li>
      <!--<li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/home/report']"><i class="fa fa-file-text"></i> Report</a></li>-->
      <li class="dropdown" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-database"></i> Master
          <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/home/master/user']">User</a></li>
          <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/home/master/department']">Department</a></li>
          <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/home/master/rsc']">RSC</a></li>
        </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a><i class="fa fa-user"></i> {{ dataUser.userName }}</a></li>
      <li><a><i class="fa fa-calendar"></i> {{ today | date: 'dd MMM, yyyy'}}</a></li>
      <li><a href="javascript:void(0);" (click)="doLogout()"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
    </ul>
  </div>
</nav>
