<div *ngIf="loading">
  <app-loader></app-loader>
</div>

<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading"><h4>{{ title }}</h4></div>
    <div class="panel-body">
      <div class="container-fluid">
        <!-- Button trigger modal -->
        <button class="btn btn-primary" data-toggle="modal"
                data-target="#myModalHorizontal" (click)="doOpenFormAdd()">
          <i class="fa fa-plus"></i> Add User
        </button>
        <form class="form-inline pull-right">
          <div class="form-group">
            <div class="col-sm-12">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search..." [(ngModel)]="filterText" [ngModelOptions]="{standalone: true}">
                <div class="input-group-addon"><i class="fa fa-search"></i></div>
              </div>
            </div>
          </div>
        </form>
        <div class="table-responsive" style="width: 100%;">
          <div *ngIf="listUser | filter: filterText as list">
            <table class="table table-bordered">
              <thead>
              <tr>
                <th class="text-center" width="2%">No</th>
                <th class="text-center" width="5%">NIK</th>
                <th class="text-center" width="15%">Name</th>
                <th class="text-center" width="15%">Department</th>
                <th class="text-center" width="15%">RSC</th>
                <th class="text-center" width="10%">Action</th>
              </tr>
              </thead>
              <tbody *ngIf="!listUser || listUser.length===0 || list.length===0">
              <tr>
                <td colspan="6">No Data Found</td>
              </tr>
              </tbody>
              <tbody>
              <tr *ngFor="let user of list;let i =index; ">
                <td>{{(i+1)}}</td>
                <td>{{ user.nik }}</td>
                <td>{{ user.nama }}</td>
                <td>{{ user.departmentName }}</td>
                <td>{{ user.rscName }}</td>
                <td>
                  <button class="btn btn-success btn-sm" data-toggle="modal" data-target="#myModalHorizontal" (click)="doOpenFormEdit(user)">
                    <i class="fa fa-pencil"></i> Edit
                  </button>
                  <!--<button class="btn btn-danger" data-toggle="modal" data-target="#confirmModalHorizontal" (click)="doDeleteConfirmation(destination.destinationId)">-->
                  <!--Delete-->
                  <!--</button>&ensp;-->
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!--<pagination *ngIf="listDept.length !== 0"  [totalItems]="totalItems" [maxSize]="5" [rotate]="true" [boundaryLinks]="true"-->
        <!--[(ngModel)]="currentPage" (numPages)="numPages = $event" (pageChanged)="pageChanged($event)">-->
        <!--</pagination>-->
      </div>
    </div>
  </div>
</div>
<!-- Modal Form-->
<div *ngIf="doOpenForm" class="modal fade" id="myModalHorizontal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <button type="button" class="close"
                data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">
          {{titleModal}}
        </h4>
      </div>

      <div class="modal-body">
        <div class="col s3 pull-right">
          <small>*</small>) <span style="font-size: 11px;">Required field</span>
        </div><br>
        <form [formGroup]="userFormBuilder">
          <div class="form-group row">
            <label for="nik" class="col-sm-3">NIK <small>*</small></label>
            <div class="col-sm-7">
              <input type="text" maxlength="20" class="form-control" id="nik" formControlName="nik" [readonly]="titleModal=='Edit User'" placeholder="Enter NIK...">
            </div>
          </div>
          <div class="form-group row">
            <label for="nama" class="col-sm-3">Name <small>*</small></label>
            <div class="col-sm-7">
              <input type="text" maxlength="100" class="form-control" id="nama" formControlName="nama" placeholder="Enter Name...">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3">RSC <small>*</small></label>
            <div class="col-sm-7">
              <ngx-select-dropdown (change)="setSelectedRSC()" [multiple]="false" [config]="configSelectRsc" [(value)]="selectedRsc" [options]="listRSC"></ngx-select-dropdown>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3">Department <small>*</small></label>
            <div class="col-sm-7">
              <ngx-select-dropdown (change)="setSelectedDepartment()" [multiple]="false" [config]="configSelectDepartment" [(value)]="selectedDepartment" [options]="listDepartment"></ngx-select-dropdown>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" [disabled]="userFormBuilder.invalid"
                title="{{userFormBuilder.invalid ? 'Please fill in the required field!' : ''}}" (click)="doSubmit()">
          <i class="fa fa-save"></i> Submit
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Form-->
<div *ngIf="doOpenConfirmation" class="modal fade" id="confirmModalHorizontal" tabindex="-1" role="dialog"
     aria-labelledby="confirmModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close"
                data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title" id="confirmModalLabel">
          Confirmation
        </h4>
      </div>

      <div class="modal-body">
        <p>Are you sure want to delete this data?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          Cancel
        </button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="doDelete()">
          OK
        </button>
      </div>
    </div>
  </div>
</div>
