/* You can add global styles to this file, and also import other style files */
.container{
  padding-top: 15px;
}

.containerLogin{
  padding-top: 75px;
}

.title {
  padding-bottom: 10px;
}

.navbar {
  background-image: linear-gradient(to bottom, #f7f7f7 0%,#eee 100%);
  border: 1px solid #e5e5e5;
}

.navbar-nav > li > a {
  padding-top:25px !important; padding-bottom:25px !important;
}

.navbar-brand {
  padding-top:25px !important; padding-bottom:25px !important;
}

.table {
  text-align: center;
  margin-top: 10px;
}


.logo {
  margin-top: 5px;
  padding: 0px !important;
  height: 60px !important;
}

@media (min-width: 768px) {
  .navbar-nav {
    display: -ms-flexbox;
    display: flex;
  }

  .navbar-nav .nav-item {
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .masthead,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
}

.form {
  width: 90%;
}

bs-datepicker-container {
  z-index: 3000;
}

small {
  color: red;
}

.table td{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 1.42857143;
}

.table th{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 1.42857143;
}






